* {   margin: 0; padding: 0; color: #333;}

li{list-style: none;} /* 기호제거 */
a{text-decoration: none;} /* a태그에 나타나는 밑줄제거 */
img{width: 100%;}
/* 인라인요소는 공간에 대한 개념이 없음
단, img태그와 button태그는 공간을 인식함 */

.clearfix::after{content: ""; clear: both; display: block;}

.container{width: 1200px; margin: 0 auto;}

/* header */
.header{}
.header h1{width: 200px; height: 100px;
float: left;
}
.header .gnb{float: right;}