* {
    margin: 0;
    padding: 0;
}

.position {
    width: 500px;
    background-image: url(https://manual.notch.one/0.9.23/en/docs/nodes/generators/grid/img/node-generators-grid-img.jpg);
margin-left: 10%; margin-top: 10%;
position: relative;
margin-bottom: 2000px;
}

.position .red {
    width: 100px;
    height: 100px;
    background-color: red;
    left: 200px;
    top: 100px;
    position: relative;
    /* position: relative;  기본값 */
}

.position .blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 50px; top: 50px;
}

.position .green {
    position: fixed; /* 화면에 고정 */
    right: 0; top: 100px;
    width: 100px;
    height: 100px;
    background-color: green;
}